/* Grundläggande stil */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
    transition: background-color 1s ease;
}

/* Textcontainer med animation */
.text-container {
    font-size: 24px;
    max-width: 80%;
    margin-top: 20px;
    padding: 0 10px;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
    z-index: 10;
}

.text-container.show-text {
    opacity: 1;
    transform: translateY(0);
}

/* Responsiv design för container */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: row;
    margin-top: 30px;
}

/* Sol och måne container */
#sun-container, #moon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
}

/* Sol och måne bilder */
#sun, #moon {
    width: 100%;
    max-width: 250px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#sun.clicked, #moon.clicked {
    transform: scale(1.5);
}

/* Bakgrundsfärg för val */
body.sun-selected {
    background-color: #edbe6f;
}

body.moon-selected {
    background-color: #00546c;
}

/* Nytt val knapp */
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    max-width: 300px;
}

button:hover {
    background-color: #2980b9;
}

/* Bekräftelseknapp */
#confirmation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#confirm-button {
    padding: 10px 20px;
    background-color: #34a853;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirm-button:hover {
    background-color: #2a8e45;
}

/* Resultatrutan */
#result-box {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#result-text {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* Media query för små skärmar */
@media (max-width: 768px) {
    #sun, #moon {
        max-width: 180px;
    }

    .text-container {
        font-size: 18px;
    }

    button {
        width: 90%;
        font-size: 18px;
    }

    #container {
        flex-direction: column;
    }
}

/* Media query för liggande läge */
@media (orientation: landscape) {
    #container {
        flex-direction: row;
    }

    #sun, #moon {
        max-width: 200px;
    }
}

